
@model EKapp.Models.Movie
@{
    ViewBag.Title = "Random";
}

@*This app is use for vidly movie ticket*@

<h2>@Model.Name</h2>
<h3>@Model.Id</h3>
<h3>@Model.AuthorName</h3>
<h4>@Model.Actress</h4>

<h5>@Model.Budget</h5>
<h3>@Model.Earning</h3>